@import "tailwindcss";

@theme {
  --color-maro-primary: #FF9B9B;
  --color-maro-secondary: #FFD28F;
  --color-maro-accent: #C3E2C2;
  --color-maro-bg: #FDF7E4;
  --color-maro-text: #4A4A4A;
  --font-fredoka: "Fredoka", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

body {
  font-family: var(--font-nunito);
  background-color: var(--color-maro-bg);
  color: var(--color-maro-text);
  margin: 0;
  padding: 0;
}
